body{
  width: 960px;
  background-color: red;
  margin: 0 auto;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: navy;
  color: white;
}

  footer {
    background-color: #2E2D88;
    color: white;
    padding: 25px;
  }

.carousel-inner img {
    /*width: 80%;*/
    margin: auto;
    min-height:200px;
    max-height: 600px;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}

#border-image{
  border: 1px solid black;
  border-radius: 5px;
  /*width: 280px;*/
  /*height: 350px;*/
}

#contatos > p{
  display: inline;
}
