body{
  /*width: 960px;*/
  /*background-color: red;*/
  margin: 0 auto;
}

#logo {
  width: 50px;
  height: 50px;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: navy;
  color: white;
}

#myNavbar {
  padding-left: 250px
}

.carousel-inner img {
    /*width: 80%;*/
    margin: auto;
    min-height:200px;
    max-height: 600px;
}

#img-carousel {
  height: 500px;
  width: 880px;
}


/* tentativa de mover os indicadores de imagem do carrousel para baixo da imagem*/
/*#myCarousel {
  height: 700px
}
.carousel-indicators {
  bottom:-50px;
}
.carousel-inner {
   margin-bottom:50px;
}
*/


@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}

#border-image{
  border: 2px solid black;
  border-radius: 10px;
  width: 280px;
  height: 350px;
}

.img-responsive {
  width: 278px;
  height: 200px;
}

#img-thumb {
  width: 278px;
  height: 200px;
}

footer {
  background-color: #2E2D88;
  color: white;
  padding: 25px;
}